@{
    ViewData["PageName"] = "Index";
}
<ul>
    <li><a asp-controller="Search" asp-action="Index">Search</a></li>
    <li><a asp-controller="Faceting" asp-action="Index">Faceting</a></li>
    <li><a asp-controller="CategoryListing" asp-action="Index">CategoryListing (GetEntitiesByAttribute)</a></li>
    <li><a asp-controller="AutoComplete" asp-action="Index">AutoComplete</a></li>
    <li><a asp-controller="GetBasketRecommendations" asp-action="Index">GetBasketRecommendations</a></li>
    <li><a asp-controller="EventTracking" asp-action="Index">EventTracking (CreateEvents)</a></li>
    <li><a asp-controller="Sync" asp-action="Index">Sync</a></li>
</ul>
