
@{
    ViewData["PageName"] = "Index";
}
<ul>
    <li><a asp-controller="Search" asp-action="Index">Search</a></li>
    <li><a asp-controller="GetEntities" asp-action="Index">GetEntities</a></li>
    <li><a asp-controller="GetRelatedEntities" asp-action="Index">GetRelatedEntities</a></li>
    <li><a asp-controller="GetEntitiesByAttribute" asp-action="Index">GetEntitiesByAttribute</a></li>
    <li><a asp-controller="AutoComplete" asp-action="Index">AutoComplete</a></li>
    <li><a asp-controller="CreateEvents" asp-action="Index">CreateEvents</a></li>
</ul>
